@charset "UTF-8";
/* CSS Document */

.column1 h3{
	margin-bottom:10px;	
}


.news ul{
	margin-top:20px;
	padding:0 5px;
}

.news li{
	background-image:url(../img/news_line.gif);
	background-repeat:no-repeat;
	background-position:bottom;
	padding:0 10px 8px 0;
	margin-bottom:10px;
}



.news li p{
	padding-left:25px;
	background-image:url(../img/arrow_news.gif);
	background-repeat:no-repeat;
	background-position:4px 3px;
}

.news li p.pickUp{
	padding-left:100px;
	background-image:url(../img/news_pickup2.gif);
	background-repeat:no-repeat;
	background-position:4px 1px;
	/*height:16px;*/
}
